<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset
            label="PLG_CONTENT_WISHBOXRADICALMARTCDEKORDERREGISTRATOR_FIELDSET_LABEL"
            name="wishboxradicalmartcdekorderregistrator"
            addfieldprefix="Joomla\Component\Wishboxradicalmartcdek\Administrator\Field"
    >
        <field
                name="wishboxradicalmartcdekorderregistrator"
                type="subform"
                label="PLG_CONTENT_WISHBOXRADICALMARTCDEKORDERREGISTRATOR_FIELD_REGISTRATOR_LABEL"
                buttons="add,remove,move"
                multiple="false"
                min="0"
                hiddenLabel="true"
        >
            <form>
                <fieldset>
                    <field name="ready_status_id"
                           type="Statuses"
                           label="COM_WISHBOXRADICALMARTCDEK_FIELD_READY_STATUS_LABEL"
                           addfieldprefix="Joomla\Component\RadicalMart\Administrator\Field"
                    />
                    <field name="error_status_id"
                           type="Statuses"
                           label="COM_WISHBOXRADICALMARTCDEK_FIELD_ERROR_STATUS_LABEL"
                           addfieldprefix="Joomla\Component\RadicalMart\Administrator\Field"
                    />
                    <field name="completed_status_id"
                           type="Statuses"
                           label="COM_WISHBOXRADICALMARTCDEK_FIELD_COMPLETED_STATUS_LABEL"
                           addfieldprefix="Joomla\Component\RadicalMart\Administrator\Field"
                    />
                    <field name="order_number_prefix"
                           type="text"
                           label="COM_WISHBOXRADICALMARTCDEK_FIELD_ORDER_NUMBER_PREFIX_LABEL"
                    />

                </fieldset>
            </form>
        </field>
    </fieldset>
</form>